.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.headerText {
  font-size: 24px;
  font-weight: bold;
}

.button {
  display: flex;
  width: 120px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: #f75961;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.scrollContainer {
  display: flex;
  overflow-y: auto;
  width: 100%;
  padding: 0 40px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  height: max-content;
  margin-bottom: 56px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;

  padding: 24px 0;
  border-bottom: 1px solid #ebebeb;
}

.headerRow {
  composes: row;
  border-top: 1px solid #ebebeb;
}

.headerColumn {
  display: flex;
  flex: 1;
  margin-right: 16px;
  border: 1px solid #ebebeb;
}

.inputField {
  font-size: 14px;
}

.delete {
  display: flex;
  width: 72px;
  justify-content: center;
  align-items: center;
  background-color: #f75961;
  color: #fff;
  height: 32px;
  cursor: pointer;
}
